@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #ba6161;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #ba6161;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #ba6161;
}

::-moz-selection {
  color: #fff;
  background: #ba6161;
}

::selection {
  color: #fff;
  background: #ba6161;
}

.ubea-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ubea-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  background: #fff;
  webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .ubea-nav {
    padding: 20px 0;
  }
}
.ubea-nav #ubea-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.ubea-nav #ubea-logo em {
  color: #ba6161;
}
.ubea-nav a {
  padding: 0px 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .ubea-nav .menu-1, .ubea-nav .menu-2 {
    display: none;
  }
}
.ubea-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.ubea-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.ubea-nav ul li a {
  font-size: 16px;
  padding: 30px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ubea-nav ul li a:hover, .ubea-nav ul li a:focus, .ubea-nav ul li a:active {
  color: #ba6161;
}
.ubea-nav ul li.has-dropdown {
  position: relative;
}
.ubea-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.ubea-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.ubea-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.ubea-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.ubea-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.ubea-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.ubea-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}
.ubea-nav ul li.has-dropdown:hover a, .ubea-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.ubea-nav ul li.btn-cta a {
  color: #fff;
}
.ubea-nav ul li.btn-cta a span {
  border: none !important;
  background: #ba6161;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.ubea-nav ul li.btn-cta a:hover span {
  background: #ff6540;
  color: #fff;
}
.ubea-nav ul li.active > a {
  color: #ba6161 !important;
}

#ubea-header .ubea-video-link a {
  color: rgba(255, 255, 255, 0.5);
}
#ubea-header .ubea-video-link a i {
  font-size: 18px;
  top: 2px;
  position: relative;
  color: #fff;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding-left: 3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#ubea-header .ubea-video-link a:hover {
  color: white;
}
#ubea-header .ubea-video-link a:hover i {
  border: 1px solid white;
}
@media screen and (max-width: 480px) {
  #ubea-header .text-left {
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  #ubea-header .btn {
    display: block;
    width: 100%;
  }
}

#ubea-header,
#ubea-counter,
.ubea-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.ubea-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.ubea-video {
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.ubea-video.ubea-video-sm {
  height: 250px;
}
.ubea-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.ubea-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.ubea-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ubea-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.ubea-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.ubea-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.ubea-cover a {
  color: #ba6161;
}
.ubea-cover a:hover {
  color: white;
}
.ubea-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.5);
}
.ubea-cover > .ubea-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .ubea-cover {
    height: 600px;
  }
}
.ubea-cover .display-t,
.ubea-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ubea-cover .display-t,
  .ubea-cover .display-tc {
    height: 600px;
  }
}
.ubea-cover.ubea-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .ubea-cover.ubea-cover-sm {
    height: 400px;
  }
}
.ubea-cover.ubea-cover-sm .display-t,
.ubea-cover.ubea-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ubea-cover.ubea-cover-sm .display-t,
  .ubea-cover.ubea-cover-sm .display-tc {
    height: 400px;
  }
}
.ubea-cover.ubea-cover-xs {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .ubea-cover.ubea-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}
.ubea-cover.ubea-cover-xs .display-t,
.ubea-cover.ubea-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ubea-cover.ubea-cover-xs .display-t,
  .ubea-cover.ubea-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}
.ubea-cover.ubea-cover-xxs {
  padding: 3em 0;
}
.ubea-cover .btn-primary {
  color: #fff !important;
}

#ubea-counter .feature-center {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.ubea-staff {
  text-align: center;
  margin-bottom: 7em;
  float: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ubea-staff {
    margin-bottom: 3em;
  }
}
.ubea-staff img {
  width: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.ubea-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.ubea-staff p {
  margin-bottom: 30px;
}
.ubea-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.ubea-social-icons {
  margin: 0;
  padding: 0;
}
.ubea-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.ubea-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #ba6161;
  padding-left: 10px;
  padding-right: 10px;
}
.ubea-social-icons li a i {
  font-size: 20px;
}

.ubea-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.ubea-contact-info ul {
  padding: 0;
  margin: 0;
}
.ubea-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.ubea-contact-info ul li:before {
  color: #cccccc;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ubea-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.ubea-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.ubea-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.ubea-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

form label {
  font-weight: normal !important;
}

#ubea-header .display-tc,
#ubea-counter .display-tc,
.ubea-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#ubea-header .display-tc h1,  #ubea-header .display-tc h2,
#ubea-counter .display-tc h1,
#ubea-counter .display-tc h2,
.ubea-cover .display-tc h1,
.ubea-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#ubea-header .display-tc h1,
#ubea-counter .display-tc h1,
.ubea-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #ubea-header .display-tc h1,
  #ubea-counter .display-tc h1,
  .ubea-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
#ubea-header .display-tc h2,
#ubea-counter .display-tc h2,
.ubea-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#ubea-counter {
  text-align: center;
}
#ubea-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ba6161;
  font-weight: 100;
  display: block;
}
#ubea-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  #ubea-counter .feature-center {
    margin-bottom: 30px;
  }
}
#ubea-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}
#ubea-counter .icon i {
  height: 70px;
}
#ubea-counter .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}

#ubea-features,
#ubea-features-2,
#ubea-products,
#ubea-subscribe,
#ubea-footer,
#ubea-faq,
.ubea-section {
  padding: 2em 0;
  clear: both;
  position: relative;
}
@media screen and (max-width: 768px) {
  #ubea-features,
  #ubea-features-2,
  #ubea-products,
  #ubea-subscribe,
  #ubea-footer,
  #ubea-faq,
  .ubea-section {
    padding: 3em 0;
  }
}
#ubea-features.border-bottom,
#ubea-features-2.border-bottom,
#ubea-products.border-bottom,
#ubea-subscribe.border-bottom,
#ubea-footer.border-bottom,
#ubea-faq.border-bottom,
.ubea-section.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

#ubea-features-2 {
  background: #efefef;
  position: relative;
  float: left;
  width: 100%;
}

.feature-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 30	px;
  }
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  border: 1px solid #eaeaea;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #ba6161;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  font-size: 18px;
  color: #000;
  position: relative;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #ba6161;
}
.feature-left .feature-copy {
  float: right;
  width: 85%;
}
.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.ubea-heading {
  margin-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .ubea-heading {
    margin-bottom: 3em;
  }
}
.ubea-heading.ubea-heading-sm {
  margin-bottom: 2em;
}
.ubea-heading h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .ubea-heading h2 {
    font-size: 28px;
  }
}
.ubea-heading h2:before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 50px;
  margin-left: -25px;
  height: 2px;
  left: 50%;
  background: #ba6161;
}
.ubea-heading h2.ubea-left:before {
  left: 0;
  margin-left: 0;
}
.ubea-heading p {
  font-size: 20px;
  line-height: 1.5;
  color: #1a1a1a;
}
@media screen and (max-width: 768px) {
  .ubea-heading p {
    font-size: 18px;
  }
}

#ubea-products {
  padding-top: 10em;
  margin-top: -10em;
}
#ubea-products .item img {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#ubea-products:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 180%;
  top: 0;
  -webkit-transform: skewY(-12deg);
  -moz-transform: skewY(-12deg);
  transform: skewY(-12deg);
  background: #efefef;
}
#ubea-products .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#ubea-products .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#ubea-products .arrow-thumb a:hover, #ubea-products .arrow-thumb a:focus, #ubea-products .arrow-thumb a:active {
  text-decoration: none;
}

#ubea-subscribe {
  background: #ba6161;
}
#ubea-subscribe .form-control {
  background: transparent;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#ubea-subscribe .form-control:focus {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}
#ubea-subscribe .form-control::-webkit-input-placeholder {
  color: #fff;
}
#ubea-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#ubea-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#ubea-subscribe .form-control:-ms-input-placeholder {
  color: #fff;
}
#ubea-subscribe .btn {
  height: 54px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
  background: #fff;
  border-color: #fff;
  color: #000;
}
#ubea-subscribe .btn:hover, #ubea-subscribe .btn:active, #ubea-subscribe .btn:focus {
  background: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
#ubea-subscribe .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#ubea-subscribe .form-inline .form-group .form-control {
  width: 100%;
}

#ubea-footer .ubea-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
#ubea-footer .ubea-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}
#ubea-footer .ubea-footer-links li a {
  text-decoration: none;
}
#ubea-footer .ubea-footer-links li a:hover {
  text-decoration: underline;
}
#ubea-footer .ubea-widget {
  margin-bottom: 30px;
}
#ubea-footer .ubea-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#ubea-footer .ubea-widget .ubea-quick-contact {
  padding: 0;
  margin: 0;
}
#ubea-footer .ubea-widget .ubea-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#ubea-footer .ubea-widget .ubea-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 768px) {
  #ubea-footer .copyright .pull-left,
  #ubea-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
#ubea-footer .copyright .block {
  display: block;
}

#ubea-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #ubea-offcanvas {
    display: block;
  }
}
.offcanvas #ubea-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#ubea-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#ubea-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#ubea-offcanvas ul {
  padding: 0;
  margin: 0;
}
#ubea-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#ubea-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#ubea-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#ubea-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#ubea-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.ubea-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.ubea-nav-toggle.active i::before, .ubea-nav-toggle.active i::after {
  background: #444;
}
.ubea-nav-toggle:hover, .ubea-nav-toggle:focus, .ubea-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.ubea-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.ubea-nav-toggle i::before, .ubea-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.ubea-nav-toggle.ubea-nav-white > i {
  color: #fff;
  background: #fff;
}
.ubea-nav-toggle.ubea-nav-white > i::before, .ubea-nav-toggle.ubea-nav-white > i::after {
  background: #fff;
}

.ubea-nav-toggle i::before {
  top: -7px;
}

.ubea-nav-toggle i::after {
  bottom: -7px;
}

.ubea-nav-toggle:hover i::before {
  top: -10px;
}

.ubea-nav-toggle:hover i::after {
  bottom: -10px;
}

.ubea-nav-toggle.active i {
  background: transparent;
}

.ubea-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.ubea-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.ubea-nav-toggle {
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .ubea-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #ba6161;
  color: #fff;
  border: 2px solid #ba6161 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ff6540 !important;
  border-color: #ff6540 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #ba6161;
  border: 2px solid #ba6161;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #ba6161;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ba6161;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.ubea-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .ubea-nav .ubea-contact {
    text-align: left !important;
  }
}
.ubea-nav .ubea-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
}
.ubea-nav .ubea-contact ul li {
  padding: 0;
  margin: 0;
}
.ubea-nav .ubea-contact ul li a {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 0px;
}
.ubea-nav .ubea-contact ul li a i {
  color: #ba6161;
}
.ubea-nav .ubea-contact ul li a:hover i {
  color: #fff;
}

#ubea-features-3 {
  position: relative;
  top: -7em;
}
@media screen and (max-width: 768px) {
  #ubea-features-3 {
    top: -2em;
  }
}
#ubea-features-3 .feature {
  width: 33.33%;
  float: left;
  padding: 30px;
  background: #ba6161;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #ubea-features-3 .feature {
    width: 100%;
    margin-bottom: 30px;
  }
}
#ubea-features-3 .feature h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#ubea-features-3 .feature p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}
#ubea-features-3 .feature .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  background: #ff4517;
  top: -3em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#ubea-features-3 .feature .icon i {
  line-height: 90px;
  height: 90px;
  font-size: 40px;
  color: #fff;
}
#ubea-features-3 .feature .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}
#ubea-features-3 .feature.feature-1 {
  z-index: 7;
}
#ubea-features-3 .feature.feature-2 {
  bottom: 0px;
  z-index: 10;
  -webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  background: #ff4112;
}
@media screen and (max-width: 768px) {
  #ubea-features-3 .feature.feature-2 {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
#ubea-features-3 .feature.feature-2 .icon {
  background: #ff3402;
}
#ubea-features-3 .feature.feature-2 .feature-inner {
  top: -3em;
  position: relative;
}
@media screen and (max-width: 768px) {
  #ubea-features-3 .feature.feature-2 .feature-inner {
    top: 0;
  }
}
#ubea-features-3 .feature.feature-2:before {
  position: absolute;
  top: -50px;
  content: "";
  background: #ff4112;
  height: 50px;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 768px) {
  #ubea-features-3 .feature.feature-2:before {
    display: none;
  }
}
#ubea-features-3 .feature.feature-2:after {
  position: absolute;
  bottom: -30px;
  content: "";
  background: #ff4112;
  height: 30px;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 768px) {
  #ubea-features-3 .feature.feature-2:after {
    display: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
#ubea-features-3 .feature.feature-3 {
  z-index: 7;
  background: #fc3200;
}
#ubea-features-3 .feature.feature-3 .icon {
  background: #f23000;
}

.ubea-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

#ubea-blog {
  padding: 3em 0;
}

.ubea-card-item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ubea-card-item.has-text figure {
  margin-bottom: 30px !important;
}
.ubea-card-item figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.ubea-card-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.ubea-card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ubea-card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ubea-card-item .ubea-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.ubea-card-item .ubea-text.text-left {
  text-align: left;
}
.ubea-card-item .ubea-text h2, .ubea-card-item .ubea-text span {
  text-decoration: none !important;
}
.ubea-card-item .ubea-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #ba6161;
}
.ubea-card-item .ubea-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.ubea-card-item .ubea-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ubea-card-item .ubea-text span.btn {
  color: #666666 !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #ebebeb;
  border: 2px solid #ebebeb !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ubea-card-item .ubea-text .ubea-category {
  font-size: 12px;
  color: #cccccc;
}
.ubea-card-item .ubea-text .ubea-category span {
  font-size: 12px;
  color: gray;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.ubea-card-item:hover, .ubea-card-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.ubea-card-item:hover img, .ubea-card-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ubea-card-item:hover span.btn, .ubea-card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  color: #fff !important;
  border: 2px solid #ff6540 !important;
  background: #ff6540 !important;
}
.ubea-card-item:hover figure .overlay, .ubea-card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.ubea-card-item:hover figure .overlay i, .ubea-card-item:focus figure .overlay i {
  margin-top: -15px;
}
.ubea-card-item:hover h2, .ubea-card-item:hover span, .ubea-card-item:focus h2, .ubea-card-item:focus span {
  text-decoration: none !important;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.ubea-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.ubea-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.ubea-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.ubea-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: #ba6161 !important;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: #ba6161 !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ba6161;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #ba6161;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #ba6161;
}

#ubea-faq {
  padding-top: 2em;
  position: relative;  
  background: #efefef;
}
.ubea-accordion {
  position: relative;
  background: #fff;
  margin-bottom: 20px;
}
.ubea-accordion .ubea-accordion-heading {
  padding: 20px;
  position: relative;
  cursor: pointer;
}
.ubea-accordion .ubea-accordion-heading h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #brand-primary;
}
.ubea-accordion .ubea-accordion-heading .icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ubea-accordion .ubea-accordion-content {
  border-top: 1px solid #e6e6e6;
  display: none;
}
.ubea-accordion .ubea-accordion-content .inner {
  padding: 20px;
}
.ubea-accordion.active .icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.ubea-accordion.active h3 {
  color: #ba6161;
}

#ubea-contact h3 {
  color: #fff;
  font-size: 30px;
}

#ubea-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#ubea-hero .btn {
  font-size: 24px;
}
#ubea-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#ubea-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#ubea-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#ubea-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}
#ubea-hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
#ubea-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#ubea-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#ubea-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#ubea-hero .flexslider .flex-direction-nav {
  display: block;
}
#ubea-hero .flexslider .flex-direction-nav a {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
#ubea-hero .flexslider .flex-direction-nav a:before {
  left: 0;
  top: 0;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 40px;
  position: relative;
  z-index: 10;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-prev {
  opacity: 1 !important;
  left: 40px !important;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-prev:before {
  text-indent: 0px !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e929";
}
#ubea-hero .flexslider .flex-direction-nav a.flex-next {
  right: 40px !important;
  opacity: 1 !important;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-next:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  right: 0;
  content: "\e92a";
}
#ubea-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#ubea-hero .flexslider .slider-text > .slider-text-inner .ubea-lead {
  font-size: 20px;
  color: #fff;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner .ubea-lead .icon-heart {
  color: #d9534f;
}

.ubea-section-overflow {
  overflow: hidden;
  position: relative;
}

#ubea-services .feature-left .icon i {
  color: #cccccc !important;
}
#ubea-services .feature-left h3 {
  color: #ba6161;
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
